.root {
    /* -fx-padding: 0 10 0 10; top right bottom left */
    -fx-background-color: #000000;
    -fx-fill: white;
}

.theme-text {
    -fx-fill:white; 
}

.vbox {
    -fx-padding: 30 10 10 10; 
    -fx-alignment: top-center;
}

.scrollPane {
    -fx-background-color: #000000;

}

.scrollPane .viewport {
    -fx-background-color: #000000;
}

.flowPane {
    -fx-background-color: #000000;
}

.left-pane{
    -fx-min-width: 150px;
    -fx-max-width: 150px;
}

.middle-pane {
    -fx-alignment: none;
    -fx-border-color: transparent white transparent white;      /* Border color */
    -fx-border-width: 2px;        /* Thickness of the border */
    -fx-border-style: solid;      /* Border style (optional) */
    -fx-min-width: 500px;
}

.right-pane{
    -fx-min-width: 350px;
    -fx-max-width: 350px;
}

.course-container-hbox {
    -fx-pref-width: 150px;
    -fx-max-width: 150px;
    -fx-pref-height: 150px;
    -fx-max-height: 150px;
}

.round-button {
  -fx-background-radius: 50%; 
  -fx-min-width: 20px;
  -fx-min-height: 20px;
  -fx-pref-width: 20px;
  -fx-pref-height: 20px;
  -fx-font-size: 9px;
  /* -fx-background-color: #4CAF50; */
 
}

