.root {
    /* -fx-padding: 0 10 0 10; top right bottom left */
    -fx-background-color: #1C1C1E;
    
}

.vbox {
    -fx-padding: 30 10 10 10; 
    -fx-alignment: top-center;
}

.middle-pane {
    -fx-alignment: none;
    -fx-border-color: transparent black transparent black;      /* Border color */
    -fx-border-width: 1px;        /* Thickness of the border */
    -fx-border-style: solid;      /* Border style (optional) */
    -fx-min-width: 500px;
}

