.root {
    /* -fx-padding: 0 10 0 10; top right bottom left */
    -fx-background-color: #1C1C1E;
    -fx-text-fill: white;
}

.main-scroll{
    -fx-background-color: transparent;
}

.main-scroll .viewport{
    -fx-background-color: transparent;
}


/* TEXT STYLES  */
.theme-text {
    -fx-fill:white; 
    -fx-text-fill: white;
}


/* SIDEBAT STYLE TODO: move to own css */

/* Quote Style */
.quote-label{
    -fx-font-size: 20px;
}

.author-label{
    -fx-font-size: 12px;
}


/* DUE SOON STYLE */

.section-title{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.empty-state-label{
    -fx-text-fill: #3fae03;
    -fx-font-size: 14;
}

.due-soon-vbox {
    -fx-padding: 0 0 0 20;
}



.vbox {
    -fx-padding: 30 10 10 10; 
    -fx-alignment: top-center;
}

.scrollPane {
    -fx-background-color: #1C1C1E;

}

.scrollPane .viewport {
    -fx-background-color: #1C1C1E;
}

.flowPane {
    -fx-background-color: #1C1C1E;
}

.left-pane{
    -fx-min-width: 200px;
    -fx-max-width: 200px;
}

.middle-pane {
    -fx-alignment: none;
    -fx-border-color: transparent white transparent white;      /* Border color */
    -fx-border-width: 2px;        /* Thickness of the border */
    -fx-border-style: solid;      /* Border style (optional) */
    -fx-min-width: 850px;
}

.bodyContainer{
    
}

.right-pane{
    -fx-min-width: 350px;
    -fx-max-width: 400px;
}

.course-container-hbox {
    -fx-pref-width: 150px;
    -fx-max-width: 150px;
    -fx-pref-height: 150px;
    -fx-max-height: 150px;
}

.round-button {
  -fx-background-radius: 50%; 
  -fx-min-width: 20px;
  -fx-min-height: 20px;
  -fx-pref-width: 20px;
  -fx-pref-height: 20px;
  -fx-font-size: 9px;
  /* -fx-background-color: #4CAF50; */
 
}

.toggle-track {
    -fx-background-color: #1C1C1E;
    -fx-background-radius: 50;  
    -fx-border-radius: 50;   
    -fx-border-color: white;
    -fx-min-width: 50;
    -fx-min-height: 22;
    -fx-max-width: 50;
    -fx-max-height: 22;
}

.toggle-thumb {
    -fx-fill: white;
}

.day-view {
    -fx-background-color: transparent;
}

.day-view.weekend-day {
    -fx-background-color: transparent;
}



.all-day-view > .container > .day-region {
    -fx-background-color: transparent; 
}

.chat-toggle-btn{
    -fx-background-color: transparent; 
}

.chat-icon {
    -fx-fill: #4A90D9; 

}

.chat-panel {
    -fx-background-color:#1E2028;
    -fx-border-color: #d5d3d3;
    -fx-border-width: .3;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0), 10, 0, -4, 2);
}

.chat-header{
    -fx-border-color: rgb(240, 240, 240);
    -fx-border-width: 0 0 .1 0;
    -fx-padding: 15 10 10 10;
    /* -fx-min-width: 100; */
}

.chat-title {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-padding: 5 0 0 0;
}

.chat-close-btn {
    -fx-background-color: transparent; 
}

.arrow-glyph{
    -fx-fill: #ffffff;
}

.chat-scroll {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.chat-input {
    -fx-background-radius: 4;
    -fx-border-radius: 8;
    -fx-border-color: #f4f4f4;
    -fx-border-width: .02;
    -fx-padding: 6;      
}

.chat-input-row{
    -fx-padding: 15;
}

.chat-send-btn {
    -fx-background-color: #4A90D9;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-padding: 6 12;
}


.user-bubble {
    -fx-background-color: #c0edff; 
    -fx-padding: 6; 
    -fx-background-radius: 8; 
    -fx-text-fill: #000000;
}

.agent-bubble {
    -fx-padding: 6;
    -fx-text-fill: #ffffff;
}