

.welcome {
    -fx-font-size: 16;
    -fx-fill: white;
}


.nav-glyph {
    -fx-fill: white;
}


.hyperlink:focused {
    -fx-border-color: transparent;
}

.hyperlink:visited {
    -fx-border-color: transparent;
}


