.component-hbox {
    -fx-padding: 20;
    -fx-border-width: 0 0 0.2 0;
    -fx-border-color: white;
}

.text-input {
    -fx-text-fill: black;
}

.date-picker-display-node {
    -fx-text-fill: black;
}

.combo-box .list-cell {
    -fx-text-fill: black;
}

.edit-btn {
    -fx-background-color: #FFB8B9;
    -fx-text-fill: #454545;
    -fx-background-radius: 8;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-padding: 6 14 6 14;
    -fx-font-size: 12px;
}

.edit-btn:hover {
    -fx-background-color: #ffa0a2;
}

.edit-btn:disabled {
    -fx-opacity: 0.45;
}

.settings-root .combo-box:disabled {
    -fx-opacity: 1.0;
}

.save-btn {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

.save-btn:hover {
    -fx-background-color: #43a047;
}

.cancel-edit-btn {
    -fx-background-color: #F44336;
    -fx-text-fill: white;
}

.cancel-edit-btn:hover {
    -fx-background-color: #e53935;
}
