.component-hbox {
    -fx-padding: 20;
    -fx-border-width: 0 0 0.2 0;
    -fx-border-color: white;
}

.text-input {
    -fx-text-fill: black;
}

.date-picker-display-node {
    -fx-text-fill: black;
}

.combo-box .list-cell {
    -fx-text-fill: black;
}
