.root-container{
    -fx-background-color: white;      
    -fx-background-radius: 10;      
    -fx-border-width: .5;
    -fx-border-color: black;   
    -fx-border-radius: 10;            
    -fx-padding: 40;  
}

.form-container{
    -fx-background-color: white;
}


.add-btn{
    -fx-background-color: #4CAF50; 
    -fx-text-fill: white;
}

.cancel-btn{
    -fx-background-color: #F44336; -fx-text-fill: white;
}

.section-title{
    -fx-text-fill: black; 
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.form-label {
  -fx-text-fill: black;
}

.error-label {
    -fx-text-fill: #c0392b;
    -fx-font-size: 12px;
}
