.nav-root * {
    -fx-text-fill: -color-text;
}

.welcome {
    -fx-font-size: 16;
    -fx-fill: -color-text;
}

.nav-glyph {
    -fx-fill: -color-text;
}

.hyperlink:focused {
    -fx-border-color: transparent;
}

.nav-btn {
    -fx-background-color: transparent;
    -fx-border-color: -color-border;
    -fx-border-width: 0.4;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-alignment: center;
    -fx-cursor: hand;
    -fx-padding: 10;
    -fx-opacity: 1.0;
}

.nav-btn:hover {
    -fx-background-color: #ABAAFF;
}

.nav-btn:pressed {
    -fx-background-color: -color-nav-pressed;
}

.nav-btn-active {
    -fx-background-color: #ABAAFF;
}

.nav-btn-logout {
    -fx-background-color: #F44336;
    -fx-border-color: #F44336;
}

.nav-btn-logout .nav-glyph {
    -fx-fill: white;
}

.nav-btn-logout:hover {
    -fx-background-color: #e53935;
}
